/* SMARTPHONE MODE LANDSCAPE */
@media screen and (max-width: 932px) and (orientation: landscape) {
  /* ACCUEIL */
  .main_container {
    margin-top: 100px;
    gap: 2rem;
  }
  .mainTitlesBloc h1 {
    font-size: 2.5em;
  }
  .mainPic {
    width: 40%;
  }
  .mainInfos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .aboutMe_bloc {
    width: 90%;
  }
  #myStack_bloc_down {
    display: initial;
    width: 90%;
  }
  #myStack_bloc_up {
    display: none;
  }
  #backend_StackTitle_Up {
    display: initial;
  }
  #backend_StackTitle_down {
    display: none;
  }

  /* PROJETS */
  #projet_page {
    width: 95%;
  }
  .projet_bloc_A {
    flex-direction: column;
    width: 90%;
  }
  .projet_bloc_title {
    width: 92%;
    gap: 1.5rem;
  }
  .projet_title {
    font-size: 1.8em;
  }
  .projet_bloc_illustr {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .projet_pitch {
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1em;
    border-radius: 0;
    width: 80%;
  }
  .projet_type_info {
    justify-content: center;
  }
  .projet_line-info {
    justify-content: center;
  }
  .perso_projet_ico_info {
    width: 8%;
  }
  .projet_text_info {
    font-size: 1.2rem;
  }
  .project_bloc_weblink,
  .project_bloc_github {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .weblink_projet_btn,
  .github_projet_btn {
    width: 70px;
    height: 70px;
  }
  .toggle_btn {
    width: 40%;
  }
  #street_art_hunterz_project_B,
  #dragon_papers_project_B,
  #grinch_game_project_B,
  #movie_kitchen_project_B,
  #radio_faceB_project_B,
  #JB_photos_project_B {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projet_bloc_b_infos,
  .projet_bloc_b_illust {
    width: 95%;
    padding: 2rem 2% 1rem 2%;
  }
  .projet_bloc_b_illust {
    padding: 1rem 2% 2rem 2%;
  }
  .pb_B_stack_logo {
    width: 10%;
  }
  .infoAlt {
    display: none;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 569px) and (orientation: landscape) {
  /* ACCUEIL */
  .mainTitlesBloc h1 {
    font-size: 2em;
  }
  /* CONTACT */
  .contact_section {
    gap: 2rem;
    padding: 2rem 0;
  }
  .contact_container {
    border: none;
    padding: 0;
  }
  .contact_illustr {
    width: 110px;
    height: 110px;
  }
  /* FOOTER */
  .foot_nav {
    gap: 1rem;
  }
}

/* SMARTPHONE MODE PORTRAIT */
@media screen and (max-width: 480px) and (orientation: portrait) {
  /* HEADER */
  .logo_site {
    width: 12%;
  }

  /* ACCUEIL */
  .main_container {
    margin-top: 100px;
    gap: 2rem;
  }
  .mainTitles {
    flex-direction: column;
    gap: 1rem;
  }
  .mainTitlesBloc {
    width: 90%;
  }
  .mainTitlesBloc h1 {
    font-size: 2.5em;
  }
  .mainTitlesBloc h2 {
    font-size: 1.2em;
  }
  .mainPic_container {
    width: 80%;
  }
  .mainInfos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .myStack_bloc {
    width: 85%;
  }
  #myStack_bloc_down {
    display: initial;
  }
  #myStack_bloc_up {
    display: none;
  }

  .stackListLine {
    flex-direction: column;
    align-items: center;
  }
  .stackListLine {
    gap: 1rem;
  }
  .stackTitle_Tab {
    display: none;
  }
  .stackTitle {
    display: initial;
    font-size: 1.3rem;
  }
  #backend_StackTitle_Up {
    display: initial;
  }
  #backend_StackTitle_down {
    display: none;
  }

  .stackBlocTitle {
    display: none;
  }
  .stackBloc {
    width: 65%;
  }

  .aboutMe_bloc {
    width: 85%;
  }

  .aboutMe_text {
    font-size: large;
  }

  /* PROJETS */
  #projet_page {
    border: 0;
  }

  .projet_bloc_A {
    flex-direction: column;
    width: 90%;
  }

  .projet_bloc_title {
    width: 92%;
    gap: 1.5rem;
  }
  .projet_title {
    font-size: 1.8em;
  }
  .projet_bloc_illustr {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .projet_pitch {
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1em;
    border-radius: 0;
    width: 80%;
  }
  .projet_title_infos_bloc {
    flex-direction: column;
  }
  .projet_type_info {
    justify-content: center;
  }
  .projet_line-info {
    justify-content: center;
  }
  .perso_projet_ico_info {
    width: 8%;
  }
  .projet_text_info {
    font-size: 1.2rem;
  }
  .project_bloc_weblink,
  .project_bloc_github {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .weblink_projet_btn,
  .github_projet_btn {
    width: 70px;
    height: 70px;
  }
  .toggle_btn {
    width: 40%;
  }
  #street_art_hunterz_project_B,
  #dragon_papers_project_B,
  #grinch_game_project_B,
  #movie_kitchen_project_B,
  #radio_faceB_project_B,
  #JB_photos_project_B {
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .projet_bloc_b_infos,
  .projet_bloc_b_illust {
    width: 95%;
    padding: 2rem 2% 1rem 2%;
  }
  .projet_bloc_b_illust {
    padding: 1rem 2% 2rem 2%;
  }
  .pb_B_stack_logo {
    width: 10%;
  }
  .infoAlt {
    display: none;
  }
  iframe {
    width: 100%;
    height: 100%;
  }

  /* CONTACT */
  .contact_section {
    gap: 2rem;
    padding: 3rem 0;
  }
  .contact_container {
    flex-direction: column;
    gap: 1rem;
  }
  .contact_container {
    border: 0;
    padding: 0;
  }
  /* .cc_lk,
  .cc_gh {
    display: none;
  } */

  .contact_text {
    display: none;
  }

  /* FOOTER */
  .foot_container {
    justify-content: center;
  }
  .foot_container a {
    width: 22%;
    justify-content: center;
  }

  .footer_Main_title {
    font-size: large;
  }
  .foot_nav {
    display: none;
  }
}
